body{
  background-color: #202124;
  color: white;
}
form{
  width: 40vw;
  /* background-color: #f4f4f4; */
  border-radius: 4%;
}

@media(max-width: 768px){
  form{
    width: 80vw;
  }
}
.main_note{
  display:flex;
  justify-content: center;

}
.main_note:hover{
  transform: translate3D(0,-1px,0) scale(1.03);
}
Button{
  align-items: flex-end;
}
.buttons{
  position: absolute;
  top: -1.6rem;
  left: -0.6rem;
}